body {
  background-color: #E0E5EC;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.header {
    color: #7D03BF;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container {
  background-color: rgb(15, 70, 70);
  border: none;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
  color: #fff;
  font-size: 25px;
  height: 200px;
  width: 200px;
  margin: 24px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.color-container:hover:after {
  opacity: 1;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition-duration: 0.7s, 0.15s;
  transition-timing-function: ease;
}

.color-container:active:after {
  opacity: 0;
}